.book__page {
    background-image: url('../images/home/bg-agenda.jpg');
    height: 100%;
    background-size: cover;
    font-family: DIN;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 8.2vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: opacity .2s;
}
@media (min-width: 768px) {
    .header {
        padding: 3vw 8.2vw;
    }
}
.header.hiding {
    opacity: 0;
}
.header img {
    height: 100%;
}
.go__back {
    height: 42px;
    padding: 5px;
    cursor: pointer;
}
.agendar {
    padding-top: 17vw;
    overflow: hidden;
}
.menu {
    height: 19px;
    cursor: pointer;
}
.picker__input {
    width: 100%;
}
.content {
    height: 72vh;
    position: relative;
}
.next__step {
    width: 18vw;
    height: 18vw;
    position: fixed;
    right: 15vw;
    bottom: 8vw;
    z-index: 1;
    border-radius: 100%;
    background-color: #fd1c23;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 65px rgba(253, 28, 35, 0.35);
    line-height: 17vw;
    transition: .3s;
    cursor: pointer;
    font-size: 18px;
}
.next__step.block {
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none;
}
.next__step.hiding {
    opacity: 0;
}
.next__step:active, .next__step:hover {
    transform: scale(.8);
}
.agendar.first__step {
    padding-bottom: 14vh;
}
.franchises {
    padding-left: 10vw;
}
.franchises .slick-list {
    overflow: visible;
}
.franchise__slider {
    max-width: 400px;
    margin-bottom: 40px;
    padding-left: 7vw;
    transform: translateX(-10vw);
}

@media (min-width: 768px) {
    .content {
        height: 100vh;
        padding-top: 80px;
    }
    .agendar {
        padding: 0;
        height: 100vh;
    }
    .next__step {
        width: 8vw;
        height: 8vw;
        line-height: 7.5vw;
        font-size: 22px;
    }
    .agendar.first__step {
        padding-bottom: 0;
    }
}
@media (min-width: 768px) {
    .franchises {
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: center;
    }
    .franchise__slider {
        padding: 0;
        transform: none;
        max-width: 320px;
        margin: 0 auto;
    }
    .franchises .slick-list {
        overflow: hidden;
    }
    .franchise__info {
        text-align: left;
    }
    .franchise__item__title {
        font-size: 20px;
        line-height: 24px;
    }
    .franchise__item__subtitle {
        font-size: 16px;
    }
    .franchises .slick-arrow {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #b82025;
        position: absolute;
        left: 0;
        top: 44%;
        border: none;
        z-index: 1;
        font-size: 0px;
    
    }
    .franchises .slick-arrow::before {
        content: "<";
        color: white;
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -1px;
        font-family: DIN;
    }
    .franchises .slick-arrow.slick-next {
        transform: translateX(100%) rotate(-180deg);
        background-color: #e32329;
        left: auto;
        right: 50px;
    }
    .franchises .slick-arrow.slick-disabled {
        opacity: .5;
        pointer-events: none;
    }
}
.franchise__image img {
    border-radius: 7px;
}
.franchises__title {
    text-transform: uppercase;
    color: #000000;
    font-size: 44px;
    margin-bottom: 2vh;
}
.franchises__text {
    color: #000000;
    font-size: 14px;
    margin-bottom: 4vh;
    font-weight: 500;
}
.franchise__item {
    position: relative;
    padding: 0 10px;
}
.franchise__info {
    position: absolute;
    bottom: 0px;
    padding: 30px 20px;
    width: 100%;
    color: #fff;
}
.franchise__item__title {
    text-transform: uppercase;
    font-size: 15px;
}
.last__step {
    padding-left: 13.7vw;
    padding-right: 13.7vw;
}
.last__step__title {
    text-transform: uppercase;
    color: #000000;
    font-size: 36px;
    margin-bottom: 2vh;
}
.last__step__text {
    color: #000000;
    font-size: 15px;
    margin-bottom: 7vh;
    font-weight: 500;
}
.last__step__form label {
    color: #d3d3d3;
    font-family: DIN;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}
.last__step__form input {
    border: none;
    border-bottom: 1px solid #323232;
    padding-left: 0;
    font-family: DIN;
    font-weight: 500;
}
.agendar__headerless {
    padding: 9vh 0;
    background-color: #181818;
    overflow: hidden;
}
.confirmation {
    text-transform: uppercase;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 82vh;
}
.confirmation__header {
    text-align: center;
}
.confirmation__title {
    color: #ffffff;
    font-family: DIN;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.confirmation__subtitle {
    font-family: DIN;
    font-size: 14px;
    letter-spacing: -0.2px;
}
.confirmation__body {
    color: #e32329;
    font-size: 34px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24vh;
    z-index: 1;
}
.confirmation__body .small {
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-top: 13px;
}
.confirmation__bottom {
    width: 100%;
    text-align: right;
}
.confirmation__bottom a {
    color: white;
    font-size: 17px;
    padding-right: 22px;
}
.finaldate.back {
    font-family: "Barlow Condensed";
    font-size: 157px;
    color: #181818;
    text-shadow: 2px 0px 15px rgba(0, 0, 0);
    position: absolute;
    top: 70%;
    left: -14px;
    width: 100%;
    text-align: center;
    line-height: 170px;
    transform: translateY(-50%);
}