.book__page {
    background: #181818;
    background-size: cover;
    font-family: DIN;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 8.2vw 4vw 5.2vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: opacity .2s;
}


.blog__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 44px;
    margin-bottom: 2vh;
}
.blog__text {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0px;
    padding-right: 30px;
}
.header.hiding {
    opacity: 0;
}
.header img {
    height: 100%;
}
.go__back {
    height: 42px;
    padding: 5px;
    cursor: pointer;
}
.agendar {
    padding-top: 17vw;
    overflow: hidden;
}
.menu {
    height: 19px;
    cursor: pointer;
}
.picker__input {
    width: 100%;
}
.content {
    position: relative;
    padding: 20vw 13vw;
    padding-right: 0;
}
.post__list {
    margin-top: 30px;
    width: 100%;
    
}
.post__preview {
    position: relative;
}
.post__info {
    background-color: #181818;
    padding: 15px 0;
    padding-right: 10px;
    width: 84%;
    transform: translateY(-50%);
}
.date {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
}
.post__title {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text__preview {
    color: #bcbcbc;
    font-size: 12px;
    line-height: 14px;
}
@media (min-width: 768px) {
    .header {
        padding: 3vw 8.2vw;
    }
    .content {
        padding: 120px 10vw;
        padding-bottom: 30px;
    }
    .post__list {
        display: flex;
        flex-flow: row wrap;
    }
    .post__preview {
        width: 33%;
        padding: 0 20px;
    }
}