.book__page {
    background: #fff;
    height: 100%;
    background-size: cover;
    font-family: DIN;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 8.2vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: opacity .2s;
}
.header.white {
    filter: invert(100%);
}
@media (min-width: 768px) {
    .header {
        padding: 3vw 8.2vw;
    }
}
.header.hiding {
    opacity: 0;
}
.header img {
    height: 100%;
}
.go__back {
    height: 42px;
    padding: 5px;
    cursor: pointer;
}
.slick-slide.agendar {
    padding-top: 80px;
    overflow: hidden;
    height: 100vh;

    position: relative;
}
.menu {
    height: 19px;
    cursor: pointer;
}
.content {
    height: 72vh;
    position: relative;
    padding: 0 13vw;
    overflow: scroll;
    color: #181818;
}
.agendar.text__content {
    /* padding: 10vw; */
}
.agendar.first__step {
    /* padding-bottom: 14vh; */
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -60vw 230px 42px rgba(0, 0, 0, 0.82);
}
.agendar.first__step .content {
    position: absolute;
    bottom: 30px;
    height: auto;
}
.first__step .slider__index {
    color: #fff;
    padding: 5px 0;
}
.date {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #bcbcbc;
}
.post__title {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.slider__index {
    padding: 20px 0;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    display: block;
    text-align: center;
}
.slider__index .swipe {
    display: inline-block;
    width: 21px;
    margin-bottom: -5px;
}
.mobile-hide {
    display: none;
}
.mobile-only {
    display: block;
}
@media (min-width: 768px) {
    .blog__content {
        max-width: 800px;
        padding: 0 15px;
        margin: 0 auto;
        display: block;
        margin-top: 90px;
    }
    .post__title {
        color: #181818;
    }
    .blog__content img {
        max-height: 400px;
        display: block;
        margin: 30px auto;
    }
    .post__content {
        color: #181818;
        text-align: left;
    }
    .post__content p {
        font-size: 14px;
    }
    .header.white {
        filter: none;
    }
    .blog__header {
        height: 300px;
        width: 100%;
    }
    .mobile-hide {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    .content {
        height: 100vh;
        padding-top: 80px;
        overflow: visible;
        width: 100%;
        text-align: center;
    }
    .agendar {
        padding: 0;
        height: 100vh;
    }
    .next__step {
        width: 8vw;
        height: 8vw;
        line-height: 7.5vw;
        font-size: 22px;
    }
    .agendar.first__step {
        padding-bottom: 0;
    }
}