body{ font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased;  font-smoothing: antialiased; font-size:13px; color:#6f6f6f; font-weight: 400;line-height: 17px;}
body, html {margin:0; height: 100%; -moz-osx-font-smoothing: grayscale;}
a, a:active, a:focus { color: #6f6f6f; text-decoration: none; }
a:hover, a:active{color: #ff214f; text-decoration: none;}
a:focus, a:active, button:focus, button:active,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
img {max-width:100%; height:auto; }
video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }
input, textarea, select{ border: 1px solid #d1d1d1; font-size: 14px;  padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none;}
input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none;}
input:focus, textarea:focus{ border-color: #585858; outline: none; }
input[type="button"]:focus{ outline: none; }
select::-ms-expand{ display:none;}
iframe { border: 0;}
p {margin: 0 0 25px}
b, strong { font-weight: 600;}
.last-paragraph-no-margin p:last-of-type {margin-bottom:0}
.alt-font strong {font-weight: 700 }
ul, ol, dl {list-style-position: outside; margin-bottom: 25px}
*{box-sizing: border-box;transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s;}
*:hover{transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
::selection { color: #000; background:#dbdbdb; }
::-moz-selection { color:#000; background:#dbdbdb; }
::-webkit-input-placeholder { color: #6f6f6f; text-overflow: ellipsis;}
::-moz-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;} 
:-ms-input-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
}
/* ===================================
    Typography
====================================== */

/* font family */
.alt-font {font-family: 'Montserrat', sans-serif; font-weight: 500}
.main-font {font-family: 'Roboto', sans-serif;}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0 0 25px; padding:0; letter-spacing: 0; font-weight: 400;}
h1 {font-size:50px; line-height: 50px;}
h2 {font-size:55px; line-height:60px}
h3 {font-size:18px; line-height:24px}
h4 {font-size:40px; line-height:46px}
h5 {font-size:32px; line-height:40px}
h6 {font-size:24px; line-height:30px}
h4.alt-font.text-white {margin-top: 60px;margin-bottom: 60px}

.bottomBar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #c9302c;
    z-index: 2;
    box-shadow: 1px -3px 11px rgba(0, 0, 0, 0.46);
    text-align: center;
    padding: 15px 0;
    display: none;
    transition: transform .23s ease-out;
    transform: translateY(100%);
}
.bottomBar.on {
    transform: translateY(0);
}
.bottomBar a {
    line-height: 30px;
    color: white;
    font-size: 14px;
    position: relative;
    padding: 10px;
}
@media (min-width: 500px) { 
    .bottomBar {
        padding: 20px 0;
    }
    .bottomBar a {
        line-height: 30px;
        color: white;
        font-size: 20px;
        position: relative;
    }
}
.bottomBar a:hover::before {
    opacity: 1;
}
.bottomBar a::before {
    position: absolute;
    bottom: 4px;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: #fff;
    content: "";
    display: block;
    opacity: 0;
    transition: opacity 0.16s;

}
/* MENU */

.main__menu {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home/menu.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.22s;
    display: none;
}
.main__menu.opened {
    opacity: 1;
}
.menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 0;
}
.menu__item {

}
.close__menu {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close__menu::before, .close__menu::after {
    width: 2px;
    height: 28px;
    background-color: #fff;
    content: "";
    display: block;
    transform: rotate(-45deg);
    top: 0;
    position: absolute;
}

.close__menu::after {
    transform: rotate(45deg);
}

.menu__item a {
    color: white;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    line-height: 59px;

    transition: opacity .22s;
    align-items: center;
}
.menu__item a:hover {
    opacity: .7;
}

.font-2 {
    font-family: "Built Titling";
    letter-spacing: 4px;
}

.font-3 {
    font-family: "Barlow Condensed";
    font-style: italic;
}

.font-3 strong {
    font-weight: 900;
}

.font-4 {
    font-family: DIN;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/barlow/barlowcondensed-blackitalic.otf')/*Para navegadores Internet Explorer*/;
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Built Titling';
    src: url('../fonts/built_titling/built_titling_rg.otf') /*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN/');
    src: url('../fonts/DIN/?#iefix') format('embedded-opentype'),
         url('../fonts/DIN/din-medium-webfont.woff2') format('woff2'),
         url('../fonts/DIN/din-medium-webfont.woff') format('woff'),
         url('../fonts/DIN/din-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}